.site-content {
    word-wrap: break-word;
}

header{
    width: 1024px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

#botonera_principal {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;
}

#botonera_principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

#botonera_principal ul li {
    display: inline;
}

#botonera_principal ul li a {
    display: inline-block;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


#botonera_principal ul li a:active {
    color: red;

} 
#botonera_principal ul li a:visited {
    color: blue;
    
} 
#botonera_principal ul li a:link {
    color: blue;
    
}     
#botonera_principal ul li a:hover {
    color: yellow;
    
} 

#contenido_principal {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#titulo_main {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

#logo {
    width: 110px;
    height: 100px;
    float: left;
}

#imagen_logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 10px;
    background-size: cover;
    
}

#articulo {
    width: 600px;
    height: 300px;
    background-color: lightgreen;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#img1 {
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 60px;
    background-size: cover;
    background-image: url(/website/img/img1.png);
}

#articulo2 {
    width: 650px;
    height: 380px;
    background-color: lightgreen;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
    padding: 20px;
    box-sizing: border-box;
}

#img2 {
    width: 312px;
    height: 390px;
    float: right;
    margin-top: 10px;
    margin-left: 1px;
    background-size: cover;
    background-image: url(/website/img/wifi6-concurrency2.png);
}

#parrafos {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}


/*--------MENU---------*/
/*-------------Reset-------------*/
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  
  button:focus,
  input:focus {
    outline: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
  }
  
  #home {
    background-color: #ddd;
  }
  
  #about {
    background-color: #aaa;
  }
  
  #work {
    background-color: #888;
  }
  
  #contact {
    background-color: #666;
  }
  
  /*-------------Helpers-------------*/
  .skew {
    transform: skew(-20deg);
  }
  
  .un-skew {
    transform: skew(20deg);
  }
  
  /*-------------Nav-------------*/
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  
  h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color: #f857a8;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: #f857a8;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link.active, a:visited.active, a:active.active {
      background: #f857a8;
      background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
      background: linear-gradient(45deg, #f857a8, #ff5858);
      color: #fff;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }